td {
  border: 1px solid gray;
  padding: 8px;
  text-align: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
td.player1 {
  background-color: blue;
}
td.player2 {
  background-color: red;
}
td.player1score, td.player2score {
  width: 18px;
  height: 18px;
}
td.player1score {
  border: 8px solid blue;
}
td.player2score {
  border: 8px solid red;
}
td.player1moves {
  background-color: #CCEEFF;
}
td.player2moves {
  background-color: #FFDDDD;
}
